$smallOffset: 20px;
$largeOffset: 30px;
$paddingSize: 80px;

$black: #2c2c2c;
$dark-grey-blue: #285e64;
$orangey-yellow: #f6a823;

$grey: #4f4f4f;
$accent: #05afc1;
$rust-red: #a82706;
$white-shade: #f0efed;
$lightgrey: #f0efed;

$primary:#f6a823;
$secondary: #05afc1;
$tertiary: #a82706;
$quaternary: #f0efed; 

$lightFont: #FFFFFF;

$homeBannerURL: '../assets/home-image-4.jpg';
$contactBannerURL: '../assets/contact-image-1.jpg';
$blogBannerURL: '../assets/blog-image-1.jpg';

