$smallOffset: 20px;
$largeOffset: 30px;
$paddingSize: 80px;

$darkFont: #2c2c2c;
$lightFont: #FFFFFF;

$primary:#f6a823;
$secondary: #05afc1;
$tertiary: #a82706;
$quaternary: #f0efed; 
$quinary: #285e64;
$senary: #4f4f4f;

$homeBannerURL: '../assets/home-image-4.jpg';
$contactBannerURL: '../assets/contact-image-1.jpg';
$blogBannerURL: '../assets/blog-image-1.jpg';

